PhoneshopWebClient/src/wsdl/banquito.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://monster.edu.ec/app/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://monster.edu.ec/app/ws" targetNamespace="http://monster.edu.ec/app/ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://monster.edu.ec/app/ws">

    <xs:element name="getMovementsByIdentificationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identification" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMovementsByIdentificationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="movements" type="tns:movement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkCreditRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identification" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkCreditResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="maxAmount" type="xs:decimal"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="eligible" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="applyForCreditRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identification" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="months" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="applyForCreditResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="totalInstallments" type="xs:int"/>
                <xs:element name="monthlyInstallment" type="xs:decimal"/>
                <xs:element name="totalAmount" type="xs:decimal"/>
                <xs:element name="annualInterestRate" type="xs:decimal"/>
                <xs:element maxOccurs="unbounded" name="installments" type="tns:creditInstallment"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="user" type="tns:user"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="status" type="tns:responseStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="purchaseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="items" type="tns:purchaseItem"/>
                <xs:element name="method" type="tns:purchaseMethod"/>
                <xs:element minOccurs="0" name="months" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="purchaseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="credit" type="tns:appliedCreditResponse"/>
                <xs:element minOccurs="0" name="message" type="xs:string"/>
                <xs:element name="status" type="tns:responseStatus"/>
                <xs:element name="invoicePath" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="products" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="status" type="tns:responseStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Complex Types -->
    <xs:complexType name="purchaseItem">
        <xs:sequence>
            <xs:element name="product" type="tns:product"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="appliedCreditResponse">
        <xs:sequence>
            <xs:element name="totalInstallments" type="xs:int"/>
            <xs:element name="monthlyInstallment" type="xs:decimal"/>
            <xs:element name="totalAmount" type="xs:decimal"/>
            <xs:element name="annualInterestRate" type="xs:decimal"/>
            <xs:element maxOccurs="unbounded" name="installments" type="tns:creditInstallment"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="product">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element minOccurs="0" name="imageFile" type="xs:string"/>
            <xs:element minOccurs="0" name="imagePath" type="xs:string"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="creditInstallment">
        <xs:sequence>
            <xs:element name="number" type="xs:int"/>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="interest" type="xs:decimal"/>
            <xs:element name="capital" type="xs:decimal"/>
            <xs:element name="balance" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="movement">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="type" type="tns:movementType"/>
            <xs:element name="number" type="xs:int"/>
            <xs:element name="reference" type="xs:string"/>
            <xs:element name="targetAccount" type="tns:bankAccount"/>
            <xs:element minOccurs="0" name="sourceAccount" type="tns:bankAccount"/>
            <xs:element name="sender" type="tns:user"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bankAccount">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="number" type="xs:int"/>
            <xs:element name="reference" type="xs:string"/>
            <xs:element name="type" type="tns:bankAccountType"/>
            <xs:element name="balance" type="xs:decimal"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="identificationNumber" type="xs:string"/>
            <xs:element name="role" type="tns:role"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element minOccurs="0" name="profile" type="tns:userProfile"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="bankAccounts" type="tns:bankAccount"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="userProfile">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="lastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="role">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Simple Types -->

    <xs:simpleType name="purchaseMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CREDIT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="movementType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEPOSIT"/>
            <xs:enumeration value="WITHDRAW"/>
            <xs:enumeration value="TRANSFER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bankAccountType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAVINGS"/>
            <xs:enumeration value="CHECKING"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="identificationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASSPORT"/>
            <xs:enumeration value="ID_CARD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="responseStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovementsByIdentificationResponse">
    <wsdl:part element="tns:getMovementsByIdentificationResponse" name="getMovementsByIdentificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductResponse">
    <wsdl:part element="tns:createProductResponse" name="createProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part element="tns:deleteProductResponse" name="deleteProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyForCreditResponse">
    <wsdl:part element="tns:applyForCreditResponse" name="applyForCreditResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkCreditRequest">
    <wsdl:part element="tns:checkCreditRequest" name="checkCreditRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductRequest">
    <wsdl:part element="tns:getProductRequest" name="getProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductRequest">
    <wsdl:part element="tns:createProductRequest" name="createProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part element="tns:updateProductResponse" name="updateProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part element="tns:getProductResponse" name="getProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="tns:loginResponse" name="loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsRequest">
    <wsdl:part element="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovementsByIdentificationRequest">
    <wsdl:part element="tns:getMovementsByIdentificationRequest" name="getMovementsByIdentificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part element="tns:loginRequest" name="loginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyForCreditRequest">
    <wsdl:part element="tns:applyForCreditRequest" name="applyForCreditRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="purchaseResponse">
    <wsdl:part element="tns:purchaseResponse" name="purchaseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsResponse">
    <wsdl:part element="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part element="tns:updateProductRequest" name="updateProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="purchaseRequest">
    <wsdl:part element="tns:purchaseRequest" name="purchaseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part element="tns:deleteProductRequest" name="deleteProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkCreditResponse">
    <wsdl:part element="tns:checkCreditResponse" name="checkCreditResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AppServicePort">
    <wsdl:operation name="getMovementsByIdentification">
      <wsdl:input message="tns:getMovementsByIdentificationRequest" name="getMovementsByIdentificationRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMovementsByIdentificationResponse" name="getMovementsByIdentificationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createProduct">
      <wsdl:input message="tns:createProductRequest" name="createProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:createProductResponse" name="createProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input message="tns:deleteProductRequest" name="deleteProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteProductResponse" name="deleteProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyForCredit">
      <wsdl:input message="tns:applyForCreditRequest" name="applyForCreditRequest">
    </wsdl:input>
      <wsdl:output message="tns:applyForCreditResponse" name="applyForCreditResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCredit">
      <wsdl:input message="tns:checkCreditRequest" name="checkCreditRequest">
    </wsdl:input>
      <wsdl:output message="tns:checkCreditResponse" name="checkCreditResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input message="tns:getProductRequest" name="getProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductResponse" name="getProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input message="tns:updateProductRequest" name="updateProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateProductResponse" name="updateProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" name="loginRequest">
    </wsdl:input>
      <wsdl:output message="tns:loginResponse" name="loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input message="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purchase">
      <wsdl:input message="tns:purchaseRequest" name="purchaseRequest">
    </wsdl:input>
      <wsdl:output message="tns:purchaseResponse" name="purchaseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppServicePortSoap11" type="tns:AppServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovementsByIdentification">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMovementsByIdentificationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovementsByIdentificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="createProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyForCredit">
      <soap:operation soapAction=""/>
      <wsdl:input name="applyForCreditRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="applyForCreditResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCredit">
      <soap:operation soapAction=""/>
      <wsdl:input name="checkCreditRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkCreditResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purchase">
      <soap:operation soapAction=""/>
      <wsdl:input name="purchaseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="purchaseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppServicePortService">
    <wsdl:port binding="tns:AppServicePortSoap11" name="AppServicePortSoap11">
      <soap:address location="http://localhost:9001/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>